@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root{
    --button-back:#2C2D33;
    --bird-left:#3CBFBE;
    --bird-right:#F7D019;
    --fade-time:0.5s;
    --gradient-time:1s;
}

.button-2{
    display:flex;
    align-items: center;
    justify-content:center;
    padding:1em 4em 1em 4em;
    background:var(--button-back);
    border-radius: 100px;
    border: 1px solid #3cbfbf00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all var(--fade-time);
}

.button-text{
    color:white;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:3em;
    transition: all var(--fade-time);
}

.button-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0.5em;
    margin-left:10%;
    background: linear-gradient(135deg, var(--bird-left) 0%, var(--bird-right) 100%);
    border-radius:5px;
    transition: all var(--gradient-time);
}

svg{
    width:3em;
    height:3em;
}

.button-2:hover .button-icon{
    background-position: 4em;
}

.button-2:hover .button-text{
    color:var(--button-back);
}

.button-2:hover{
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}